body{
 
  background-image:url("../images/kanzuki_estate.png");
  

  /* Center and scale the image nicely */
  

  background-size: cover;
 
}
.jumbotron { 
  padding: 30px; /* fills out the jumbotron */
  
}

.container {
  width: 500px; /* specify a width */
  margin: 0 auto;  /* centers the container */
  padding: 0 15px; /* adds some padding to the left and right*/
}

.jumbotron .container { 
  max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
  
}

.jumbotron h1 { 
  text-align: center; /* centers the heading */
  color: rgb(81, 123, 197);
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.tabs{
  background-color: rgb(30,24,60);
}
.tabs-content{
  height:300px;
  color: rgb(81, 123, 197);
  background-color: rgb(30,24,60);
}