body{
 
  background-image:url("kanzuki_estate.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbotron { 
  padding: 30px; /* fills out the jumbotron */
  
}

.container {
  width: 500px; /* specify a width */
  margin: 0 auto;  /* centers the container */
  padding: 0 15px; /* adds some padding to the left and right*/
}

.jumbotron .container { 
  max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
  
}

.jumbotron h1 { 
  text-align: center; /* centers the heading */
  color: rgb(81, 123, 197);
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.tabs{
  background-color: rgb(30,24,60);
}
.tabs-content{
  height:300px;
  color: rgb(81, 123, 197);
  background-color: rgb(30,24,60);
}

.tabs-title>a {
  font-size: 20px;
}

a {
  background-color: #add6ff;
  border: 1px solid #1e183c;
  margin: 10px;
}

.statusChangeButton {
  position: absolute;
  left: 25%;
  background-color: #add6ff; /* Green */
  border: none;
  color: #1e183c;
  margin: 8px;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.rateSelect {
  position: absolute;
  left: 32%;
  width: 100px;
  height: 22px;
  background-color: #add6ff; /* Green */
  border: none;
  color: #1e183c;
  margin: 8px;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 }

#search-view {
  background-color: rgb(30,24,60);
  color: rgb(81, 123, 197);
  border-bottom-color: #add6ff;
  border-bottom-width: 5px;
  padding-bottom: 10px;
}

.playLaterButton {
  position: absolute;
  right: 40%;
  background-color: #add6ff; /* Green */
  border-color: black;
  color: #1e183c;
  margin: 8px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}